<form  class="form-inline ajax" n:name=questionForm>
    <div class="form-group">
        <input type="hidden" n:name=test_id value="{$question->test_id}">
        <input type="hidden" n:name=id value="{$question->id}">
        <textarea class="question_input animated" n:name=text value="{$question->text}" placeholder="Zadejte text otázky"></textarea>
    </div>
</form>