{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Vámi vytvořené testy</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Název testu</th>
                    <th>Datum vytvoření</th>
                    <th>Sdílení</th>
                    <th>Upravit</th>
                    <th>Spravit</th>
                </tr>
            </thead>
            <tbody>
                {foreach $tests as $test}
                    <tr>
                        <td>{$test->name}</td>
                        <td>{$test->created_at}</td>
                        <td>{if $test->shared}Sdíleno {else} Soukromý {/if}</td>
                        <td><a n:href="Test:edit $test->id">Upravit</a></td>
                        <td><a n:href="Test:delete $test->id">Smazat</a></td>
                    </tr>   
                {/foreach}
            </tbody>
        </table>

    </div>
</div>
