{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Nastavení testu</h3>
    </div>
    <div class="panel-body">


    </div>
</div>


<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Obsah testu</h3>
    </div>
    <div class="panel-body">


    </div>
</div>