{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Nastavení testu</h3>
    </div>
    <div class="panel-body">

        {control testForm}
    </div>
</div>


<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Obsah testu</h3>
    </div>
    <div class="panel-body">
        {foreach $questions as $question}
            <strong>{$question->text}</strong><br>
            {control answers-$question->id}
        {/foreach}

    </div>
</div>