{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Nastavení testu</h3>
    </div>
    <div class="panel-body">
        <form n:name=testForm class="ajax" id="testForm">
            <label for="textName">Název(nadpis) testu</label>
            <div class="form-group">
                
                <textarea class="question_input animated" n:name=name placeholder="Zadejte název testu" rows="1" wrap="{$test->name}">{$test->name}</textarea>
              {*  <input type="text" class="form-control testForm" id="textName" n:name=name value="{$test->name}" placeholder="Zadejte název testu">*}
                <input type="hidden" class="form-control testForm" n:name=id value="{$test->id}">
            </div>
            <div class="checkbox">
                <label>
                    {if $test->shared}
                        <input type="checkbox" n:name=shared checked="true"> Sdílet test
                    {else}
                        <input type="checkbox" n:name=shared> Sdílet test
                    {/if}
                </label>
            </div>
        </form>
    </div>
</div>


<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Obsah testu</h3>
    </div>
    <div class="panel-body" n:snippet="questionList">

        {foreach $questions as $question}      
            <div class="question">
                <div class="text-right"><a class="ajax glyphicon glyphicon-remove" n:href="deleteQuestion! $question->id"></a></div>
                <div>{control question-$question->id}</div>
                {control answers-$question->id}
            </div>
            <hr>
        {/foreach}


        <div class="text-center">
            <a n:href="addQuestion! $test->id" class="btn btn-success btn-circle btn-lg ajax"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>

<div class="row text-center">
    <a class="btn btn-success" n:href="Test:generate $test->id" role="button">Generovat</a>
</div>
