{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Generování testu</h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <a class="btn btn-success" n:href="" role="button">Generovat</a>
        </div>
    </div>
</div>

