{block content}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 n:block=title class="panel-title">Parametry testu</h3>
    </div>
    <div class="panel-body">
        <h4>{$test->name}</h4>
        <p>{$test->user->fullname}, {$test->created_at}</p>
    </div>
</div>


<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Obsah testu</h3>
    </div>
    <div class="panel-body" n:snippet="questionList">

        {foreach $questions as $question}      
            <strong>{$question->text}</strong>
            {control answersList-$question->id}
        {/foreach}

    </div>
</div>

<div class="row text-center">
    <a class="btn btn-success" n:href="Test:generate $test->id" role="button">Generovat</a>
</div>