{* This is the welcome page, you can delete it *}

{block content}


<ul>
{foreach $answers as $answer}
    <li>{$answer->text} <a n:href="handleDelete! $answer->id">smazat</a></li>
    {/foreach}
</ul>
    {control answerForm-1}
{/block}
