/* 
    Created on : 20.11.2014, 8:21:46
    Author     : Michal Formánek
*/

body {
    padding-top: 95px;
    padding-bottom: 100px;
}
input:focus, select:focus{
    border-width: 2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.navbar-static-top {
    margin-bottom: 19px;
}
.question{
    margin: -15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.question:hover{
    margin: -15px;
    background-color: #f5f5f5;
}
.question_input{
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 600px;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: -5px;
}
.question_input:hover{
    background-color: white;
}
.question_input:focus{
    border-color: #16a085;
    background-color: white;
}
textarea {
    box-sizing: border-box;
    min-height: 31px;
    overflow-x: hidden; /* for Firefox (issue #5) */
    resize: none;
}
.answer_input{
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width: 500px;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: -5px;
}
.answer_input:hover{
    background-color: white;
}
.answer_input:focus{
    border-color: #16a085;
    background-color: white;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 12px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.students_textarea{
        border-width: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}